*{ font-family: sans-serif}

#mainBlock {
	margin: auto; 
	width:760px;
} 

#titulo {font-family: arial; 
		text-shadow: 3px 3px 3px #fff176; 
		font-weight:200px!important;  
		color:#800000;
}

#logotipo div:last-child{
	clear:both;
}

.brand-logo img {
	width: 65px; 
	float: left; 
	margin: 0 20px 0 0;
}


#mainMenu {
	background: rgb(222,184,135); 
	clear:both; 
	height: 65px;
}

/* #mainMenu a {color: rgb(255,255,255); text-decoration:none; padding:10px; margin:10px;} */

#footer{
	background: rgb(222,184,135); 
	text-align:right; 
	padding:0px; 
	color:white; 
	float: left; 
	width: 100%
}


#sobre{
	background: rgb(200,200,200);
	text-align:right; 
	padding:0px;
}

#tudo h2 {
	color: rgb(255,140,0);
}

.page-header {
	border-bottom: none!important; 
}

.mapa {
	width: 760px;
	height: 450px;
	background-color: #123;
	margin: 50px 0;
}
.banner {
	width: 600px;
	height: 300px;
	border:solid 1px #cba;
	margin: 10px auto;

}
.home h1 {
 color: rgb(255,140,0) 
}
.aba-content {
	width:100%!important;
}
.aba-content h1 {
	text-align:justify;
	color: rgb(255,140,0)
}
.aba-content img {
	float: left;
	height: 200px;
	width:280px;
	margin:0 10px 5px 0;
}

#content {
	text-align:justify;

}
.sobre h1{
	text-align:justify;
	color: rgb(255,140,0);
}
.sobre img {
	float: left;
	height: 200px;
	width:280px;
	margin:0 10px 5px 0;
}

.botao{
	display: inline;
	margin:10px auto;
	padding:7px 13px;
	text-align:center;

}
#sobre_o_autor img{border-radius:50px;}
#sobre_o_autor p{text-align:justify; }
#sobre_o_site img{border-radius:50px;}
#sobre_o_site p{text-align:justify; }
#sua_privacidade img{border-radius:50px;}
#sua_privacidade p{text-align:justify; }
#seus_cookies p{text-align:justify; }
#seus_cookies img{width:200px; height:200px;}

.vermelho{background: #d32f2f;}
.vermelho #mainMenu, 
.vermelho #footer {background: #bf360c;  color: #fbe9e7;}

.laranja{background: #ffb74d ;}
.laranja #mainMenu,
.laranja #footer {background: #ef6c00;}

.amarelo{background:#fdd835;}
.amarelo #mainMenu,
.amarelo #footer{background: #fbc02d ;}


#corVermelho{background:#FF0000;}
#corLaranja{background: #ff6d00 ;}
#corAmarelo{background: #ffff00 ;}

#fonteMais{background:#EF8429;}
#fonteNormal{background: #EF8429;}
#fonteMenos{background: #EF8429;}

a{text-decoration: none;}

#content img{
	float: left;
	height: 200px;
	width:280px;
	margin:0 10px 5px 0;
}

.card{
	width: 300px; float: left; margin-right: 20px!important;
}

.todos_cards {
	padding: 10px 10px 40px 40px;
}

.video {
	width: 600px;
	height: 300px;
	background-color: #321;
}